* {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-family: sans-serif;
}
h1 {
  border-bottom: 0.1rem solid grey;
  font-size: 1.953rem;
}

h2 {
  border-bottom: 0.1rem solid grey;
}

.container-img > img {
  width: 100%;
  height: auto;
}

.container-img > p {
  text-align: center;
}

.container-info > p {
  font-size: large;
}



@media only screen and (min-width: 100rem) {
  .container-img > p {
    font-size: smaller;
  }
}
